@using ProjetIntegrationEquipe2.ViewModels.Matieres
@using ProjetIntegrationEquipe2.Models
@model MatieresIndexVM

<h2 class="text-center m-1">Gérer les matières</h2>

@Html.ActionLink("Ajouter une matière", "Create", "Matieres", null, new { @class = "btn btn-primary m-2", role = "button" })

@*Rechercher*@
@using (Html.BeginForm("Index", "Matieres", FormMethod.Get))
{
    <b class="ml-2">@Html.Label("Rechercher par :")</b>
    @Html.Label("Matière", new { @class = "ml-1" })

    @Html.TextBox("rechercher", "", new { @class = "ml-2 form-control w-25" })
    <input type="submit" value="Rechercher" class="btn btn-primary m-2" />
}

<div class="table-responsive-lg justify-content-center d-flex ml-1">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">Nom de la matière</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.MatieresList.Count() == 0 || Model.MatieresList == null)
            {
                <tr class="text-center pt-5">
                    <td colspan="4" class="text-center">Aucune matière n'a été trouvée</td>
                </tr>
            }
            else
            {
                foreach (Matiere matiere in Model.MatieresList)
                {
                    <tr>
                        <td class="text-center">@matiere.Nom</td>
                        <td class="text-center">
                            @Html.ActionLink("Modifier", "Edit", "Matieres",
                            new { Id = matiere.MatiereId }, new { @class = "btn btn-primary btn-sm btnModifier d-inline", role = "button", })
                            @using (Html.BeginForm("Delete/" + matiere.MatiereId, "Matieres", FormMethod.Post, new { @class = "d-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Voulez vous vraiment supprimer @(matiere.Nom)?');">Supprimer</button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<a href="~/Home/Index" class="btn btn-primary btn-lg ml-1">Retour à l'accueil</a>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}