@using ProjetIntegrationEquipe2.Models
@using ProjetIntegrationEquipe2.ViewModels.Tutores

@model TutoreIndexVM


<h2 class="text-center m-1">Gérer les tutorés</h2>

@Html.ActionLink("Créer un nouveau tutoré", "Create", "Tutores", null, new { @class = "btn btn-primary m-2", role = "button" })

@Html.ValidationSummary()

@*Rechercher*@
@using (Html.BeginForm("Index", "Tutores", FormMethod.Get))
{
    <b class="ml-2">@Html.Label("Rechercher par :")</b>
    <br />

    @Html.RadioButton("rechercherPar", "Nom", new { @class = "ml-2", @checked = true })
    @Html.Label("Nom", new { @class = "ml-1" })
    @Html.RadioButton("rechercherPar", "Courriel", new { @class = "ml-2" })
    @Html.Label("Courriel", new { @class = "ml-1" })

    @Html.TextBox("rechercher", "", new { @class = "ml-2 form-control w-25" })
    <input type="submit" value="Rechercher" class="btn btn-primary m-2" />
}

<div class="table-responsive-lg ml-1">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">Nom</th>
                <th class="text-center" scope="col">Courriel</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Tutore tutore in Model.listeTutore)
            {
                <tr class="text-center">
                    <td>@tutore.Prenom @tutore.Nom</td>
                    <td>@tutore.Email</td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", "Tutores", new { id = tutore.Id },
                       new { @class = "btn btn-primary btn-sm m-1", role = "button" })
                        @Html.ActionLink("Profil tutoré", "Profil", "Tutores",
                       new { Id = tutore.Id }, new { @class = "btn btn-primary btn-sm m-1", role = "button" })

                        @using (Html.BeginForm("Delete/" + tutore.Id, "Tutores", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm m-1" onclick="return confirm('Voulez-vous vraiment supprimer @(tutore.Prenom) ?')">Supprimer</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="~/Home/Index" class="btn btn-primary btn-lg m-1">Retour à l'accueil</a>
