@using ProjetIntegrationEquipe2.ViewModels.Tutores
@model TutorePasswordVM


<h2 class="text-center m-1">Modification du mot de passe</h2>

@using (Html.BeginForm("PasswordAsync", "Tutores", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group d-flex justify-content-center groupeInput ">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label font-weight-bold enleverPadding" })
        <div class="col-md-10 pl-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control w-75", oncopy = "return false" })
            <p class="textePlusPetit">*Doit contenir une majuscule, une minuscule, un caractère spéciale et un chiffre.</p>
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div class="form-group d-flex justify-content-center groupeInput ">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label font-weight-bold enleverPadding uneLigneFonctionnel" })
        <div class="col-md-10 pl-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control w-75", oncopy = "return false", onpaste = "return false", Textmode = "Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="text-center p-2"> <button type="submit" class="btn btn-primary">Soumettre</button></div>
}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")

}