@using ProjetIntegrationEquipe2.ViewModels
@using Microsoft.AspNet.Identity
@using ProjetIntegrationEquipe2.Models
@{
    @model ProfilTuteurVM
}

@Html.HiddenFor(c => c.Id)

<h2 class="text-center m-1 pb-4">Profil de @Model.Prenom @Model.Nom</h2>

<div class="ml-2">
    <p>
        <img src="@Url.Content(@Model.CheminPhoto)" class="imageprofil offset-5" />
    </p>
</div>
<table class="table table-borderless table-hover offset-3 w-75">
    <tr>
        @* Le premier w-25 affecte les autres <td> de la colonne *@
        <td class="font-weight-bolder w-25">Nom</td>
        <td>@Model.Prenom @Model.Nom</td>
    </tr>

    <tr>
        <td class="font-weight-bolder">Courriel</td>
        <td>@Model.Courriel</td>
    </tr>

    <tr>
        <td class="font-weight-bolder">Telephone</td>
        <td>@Model.Telephone</td>
    </tr>

    <tr>
        <td class="font-weight-bolder">Intérets</td>
        @if (Model.Interets.IsEmpty() || Model.Interets == "")
        {
            <td>Cet utilisateur n'a pas ajouté d'intérets</td>
        }
        else
        {
            <td>@Model.Interets</td>
        }
    </tr>

    <tr>
        <td class="font-weight-bolder">Forces</td>
        @if (Model.Forces.IsEmpty() || Model.Forces == "")
        {
            <td>Cet utilisateur n'a pas ajouté de forces</td>
        }
        else
        {
            <td>@Model.Forces</td>
        }
    </tr>

    <tr>
        <td class="font-weight-bolder">Tarif</td>
        <td>@Model.Tarif $/Heure</td>
    </tr>
    @if (Model.CoteTotal > 0.0)
    {
        <tr>
            <td class="font-weight-bolder pt-5">Cote total</td>
            <td>
                <span id="stars" style="font-size:50px"></span>
            </td>
        </tr>
    }
    @* Utiliser le meme <tr> pour le bloc if ne fonctionnait pas, voila pourquoi la repetition de code *@
    else
    {
        <tr>
            <td class="font-weight-bolder">Cote total</td>
            <td>
                Ce tuteur n'a pas reçu de cote pour le moment
            </td>
        </tr>
    }


    <tr>
        <td class="font-weight-bolder">Cours maitrisés</td>
        <td>
            @foreach (CoursMaitrise cours in Model.ListeCoursMaitrises)
            {
                <ul class="list-group width65">
                    <li class="list-group-item d-flex justify-content-between align-items-center noBackground">
                        @cours.Cours.Nom
                        @if (cours.StatutCoursMaitrise.Statut == StatutCours.Validé)
                        {
                            <span class="badge badge-success badge-pill">@cours.StatutCoursMaitrise.Statut</span>
                        }
                        else if (cours.StatutCoursMaitrise.Statut == StatutCours.Refusé)
                        {
                            <span class="badge badge-danger badge-pill">@cours.StatutCoursMaitrise.Statut</span>
                        }
                        else
                        {
                            <span class="badge badge-primary badge-pill">@cours.StatutCoursMaitrise.Statut</span>
                        }
                    </li>
                </ul>
            }
            @* Permet de retrecir la largeur du bloc avec les cours et status *@
            <p class="w-75">&nbsp;</p>
        </td>
    </tr>

</table>
<div class="boutonProfil">
    <p>
        <a href="../../Home/Index" class="btn-primary btn-lg m-1">Retour à l'accueil</a>
        @if (Model.Id == User.Identity.GetUserId() || User.IsInRole(RolesNames.Administrateur))
        {
            <a href="../../Tuteurs/Edit/@Model.Id" class="btn-success btn-lg m-1">Modifier profil</a>
        }
        @if (Model.Id == User.Identity.GetUserId())
        {
            <a href="../../Tutores/Password" class="btn-success btn-lg m-1">Modifier mot de passe</a>
        }

    </p>
</div>

@section scripts{
    <script>
        let value = '@Model.CoteTotal';
        //Cette fonction force javascript à toujours utiliser un point quand il trouve une virgule dans la valeur décimale, sinon les étoiles ne peuvent pas s'afficher !
        value = value.replace(/,/g, '.')
        document.getElementById("stars").innerHTML = getStars(value);

        function getStars(rating) {

            //Arrondit à la prochaine moitié (soit au "0,5", car si le résultat est de "2,4", il ne pourra pas afficher la demi-étoile) !
            rating = Math.round(rating * 2) / 2;
            let output = [];

            //Mettre toutes les étoiles remplies !
            for (var i = rating; i >= 1; i--)
                output.push('<i class="fa fa-star checked"></i>&nbsp;');

            //Mettre les demi-étoiles, si nécessaire !
            if (i == .5) output.push('<i class="fa fa-star-half-o"></i>&nbsp;');

            //Remplir avec les étoiles vides !
            for (let i = (5 - rating); i >= 1; i--)
                output.push('<i class="fa fa-star-o"></i>&nbsp;');

            return output.join('');
        }
    </script>
}

@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
